body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text to the left */
}

h2 {
    color: #e44d26;
    cursor: pointer;
    user-select: none;
    margin-bottom: 15px;
}

h2 {
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

input {
    margin-right: 5px;
}

div.data {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    text-align: left;
}

.folded-section {
    display: none;
}

.folded-section.visible {
    display: block;
}

@media (max-width: 600px) {
    main {
        padding: 10px;
    }
    
    /* Additional styles for smaller screens */
    h1, h2, label, p {
        font-size: 14px;
        margin-bottom: 10px;
    }
}
