body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

main {
    max-width: 948px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    /* Align text to the left */
}

.button {
    background-color: #313533;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.options {
    position: relative;
    height: 38px;
    pointer-events: none;
}

.options__wrap {
    display: flex;
    overflow-x: scroll;
    position: absolute;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.options__item {
    display: flex;
    flex-direction: column;
    min-width: 158px;
    position: relative;
    border-right: 0px;
}

.options__item__text {
    cursor: pointer;
    user-select: none;
    text-align: center;
    margin: 0;
    padding: 8px 0;
    border: 1px solid black;
    border-right: 0;
    pointer-events: all;
}

.options__item:last-child .options__item__text {
    border-right: 1px solid black;
}

h2 {
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

input {
    margin-right: 5px;
}



.folded-section {
    display: none;
    background-color: white;
    width: calc(100% - 1px);
    border: 1px solid black;
    border-top: 0px;
    padding-top: 8px;
    pointer-events: all;
}

.folded-section.visible {
    display: block;
}

div.data {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 24px
}

.recipe {
    width: 250px;
    flex-grow: 1;
}

@media (max-width: 952px) {
    main {
        margin-top: 0;
    }
}
